{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/corebase/css/admin.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/corebase/css/timeline.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"> var baseUrl = "{{ app.request.baseurl }}"; </script>
    <script type="text/javascript"> var uri = "{{ app.request.uri }}"; </script>
    <script type="text/javascript"> var assetBase = "{{ app.request.basePath }}"; </script>

    {# Inicializando rotas angular #}
    <script src="{{ asset('bundles/corebase/js/BaseCtrl.js') }}"></script>
    <script src="{{ asset('bundles/corebase/js/HomeCtrl.js') }}"></script>

    {# CORE-USER-BUNDLE #}
    <script src="{{ asset('bundles/coreuser/js/controller/cadastroCtrl.js') }}"></script>
    <script src="{{ asset('bundles/coreuser/js/controller/cadastroJuridicoCtrl.js') }}"></script>
    <script src="{{ asset('bundles/coreuser/js/controller/listaCtrl.js') }}"></script>
    <script src="{{ asset('bundles/coreuser/js/controller/listaJuridicoCtrl.js') }}"></script>
    <script src="{{ asset('bundles/coreuser/js/controller/listaRepresentantesCtrl.js') }}"></script>
    <script src="{{ asset('bundles/coreuser/js/controller/listaDependentesCtrl.js') }}"></script>

    <script src="{{ asset('bundles/corefinanceiro/js/controller/financeiroCtrl.js') }}"></script>
    <script src="{{ asset('bundles/corefinanceiro/js/controller/associacaoCtrl.js') }}"></script>

    <script src="{{ asset('bundles/eventoevento/js/controller/cadastroCtrl.js') }}"></script>
    <script src="{{ asset('bundles/eventoevento/js/controller/listaCtrl.js') }}"></script>
    <script src="{{ asset('bundles/eventoevento/js/controller/descontoCadastroCtrl.js') }}"></script>
    <script src="{{ asset('bundles/eventoevento/js/controller/listaDescontoCtrl.js') }}"></script>
    <script src="{{ asset('bundles/eventoevento/js/controller/detalheCtrl.js') }}"></script>

    <script src="{{ asset('bundles/corefinanceiro/js/router/routers.js') }}"></script>
    <script src="{{ asset('bundles/eventoevento/js/router/routers.js') }}"></script>
    <script src="{{ asset('bundles/coreuser/js/router/routerUser.js') }}"></script>


{% endblock %}

{% block body %}

    <div style="width: 40%;position: absolute;left: 55%;margin-top: 20px;z-index: 999999;" id="alerts-container"></div>
    <div id="wrapper"  ng-controller="HomeCtrl">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/">ABMRHDF ADMIN</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">

    <!-- /.dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle ng-cloak" data-toggle="dropdown">
            <i class="fa fa-user fa-fw"></i> {[{ currentUser.nome }]} <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li><a href="{[{ urlPerfil }]}"><i class="fa fa-user fa-fw"></i> Perfil</a>
            </li>
            <li><a ng-click="alterarSenha()" style="cursor:pointer;"><i class="fa fa-user fa-fw"></i> Alterar Senha</a>
            </li>
            <li class="divider"></li>
            <li><a href="/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->



    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
               <!-- <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Pesquisa...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                    </div>
                </li> -->
                <li>
                    <a href="#/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li ng-show="currentUser.flAdmin">
                    <a href="#"><i class="fa fa-calendar-o fa-fw"></i> Evento<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#/evento">Lista Evento</a>
                        </li>
                        <li>
                            <a href="#/desconto">Lista Desconto</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li ng-show="currentUser.flAdmin">
                    <a href="#"><i class="fa fa-user fa-fw"></i> Pessoa<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#/user">Lista Pessoa Física</a>
                        </li>
                        <li>
                            <a href="#/user/juridico">Lista Pessoa Jurídica</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li ng-show="currentUser.associado">
                    <a  ng-show="currentUser.tipoUsuario == 1" href="#/user/{[{ currentUser.id }]}/dependentes/1"><i class="fa fa-user fa-fw"></i> Lista de Dependentes</a>
                    <a  ng-show="currentUser.tipoUsuario == 2" href="#/user/{[{ currentUser.id }]}/representantes/1"><i class="fa fa-user fa-fw"></i> Lista de Representantes</a>
                    <!-- /.nav-second-level -->
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper" style="overflow: scroll">
        <!-- Modal Alterar Senhas -->

        <div class="modal fade in" id="myModal" role="dialog" aria-labelledby="myModalLabel" ng-show="alter" style="display: block">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"  ng-click="close()"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Alterar Senha</h4>
                    </div>
                    <div class="clear-fix">
                    <form name="formCad" class="col-lg-12">
                        <div name="formCad" class="modal-body">
                            <div class="form-group col-lg-12 col-md-6">
                                <label for="exampleInputPassword1">Senha Atual</label>
                                <input type="password" maxlength="10" class="form-control" ng-model="form.senhaAtual" placeholder="Digite senha" required>
                            </div>

                            <div class="form-group col-lg-12 col-md-6">
                                <label for="exampleInputPassword1">Senha</label>
                                <input type="password" maxlength="10" class="form-control" ng-model="form.senha" placeholder="Digite senha" required>
                            </div>

                            <div class="form-group col-lg-12 col-md-6">
                                <label for="exampleInputPassword1">Repita Senha</label>
                                <input type="password" maxlength="10" class="form-control" ng-model="form.rsenha" placeholder="Digite senha" required>
                            </div>
                        </div>
                    </form>
                    </div>
                    <div class="modal-footer ">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Cancelar</button>
                        <button type="button" class="btn btn-primary" ng-click="altSenha()">Alterar</button>
                    </div>
                </div>
            </div>
        </div>

    <!-- /.row -->
    <div class="row" ng-view></div>
    <!-- /.row -->

    </div>
    </div>

{% endblock %}