{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/corebase/css/admin.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/corebase/css/timeline.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"> var baseUrl = "{{ app.request.baseurl }}"; </script>
    <script type="text/javascript"> var uri = "{{ app.request.uri }}"; </script>
    <script type="text/javascript"> var assetBase = "{{ app.request.basePath }}"; </script>

    {# Inicializando rotas angular #}
    <script src="{{ asset('bundles/corebase/js/BaseCtrl.js') }}"></script>
    <script src="{{ asset('bundles/corebase/js/HomeCtrl.js') }}"></script>

    {# CORE-USER-BUNDLE #}
    <script src="{{ asset('bundles/coreuser/js/controller/cadastroJuridicoCtrl.js') }}"></script>
    <script src="{{ asset('bundles/coreuser/js/controller/listaCtrl.js') }}"></script>
    <script src="{{ asset('bundles/coreuser/js/controller/listaJuridicoCtrl.js') }}"></script>
    <script src="{{ asset('bundles/coreuser/js/controller/listaRepresentantesCtrl.js') }}"></script>
    <script src="{{ asset('bundles/coreuser/js/controller/listaDependentesCtrl.js') }}"></script>

    <script src="{{ asset('bundles/corefinanceiro/js/controller/financeiroCtrl.js') }}"></script>
    <script src="{{ asset('bundles/eventoevento/js/controller/cadastroCtrl.js') }}"></script>
    <script src="{{ asset('bundles/eventoevento/js/controller/listaCtrl.js') }}"></script>
    <script src="{{ asset('bundles/eventoevento/js/controller/descontoCadastroCtrl.js') }}"></script>
    <script src="{{ asset('bundles/eventoevento/js/controller/listaDescontoCtrl.js') }}"></script>
    <script src="{{ asset('bundles/eventoevento/js/controller/detalheCtrl.js') }}"></script>

    <script src="{{ asset('bundles/corefinanceiro/js/router/routers.js') }}"></script>
    <script src="{{ asset('bundles/eventoevento/js/router/routers.js') }}"></script>
    <script src="{{ asset('bundles/coreuser/js/router/routerUser.js') }}"></script>


{% endblock %}

{% block body %}
    <div id="wrapper"  ng-controller="HomeCtrl">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/">ABMRHDF ADMIN</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">

    <!-- /.dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li><a href="#"><i class="fa fa-user fa-fw"></i> Perfil</a>
            </li>
            <li class="divider"></li>
            <li><a href="/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
               <!-- <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Pesquisa...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                    </div>
                </li> -->
                <li>
                    <a href="#/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li ng-show="currentUser.flAdmin">
                    <a href="#"><i class="fa fa-calendar-o fa-fw"></i> Evento<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#/evento">Lista Evento</a>
                        </li>
                        <li>
                            <a href="#/desconto">Lista Desconto</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li ng-show="currentUser.flAdmin">
                    <a href="#"><i class="fa fa-user fa-fw"></i> Pessoa<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#/user">Lista Pessoa Física</a>
                        </li>
                        <li>
                            <a href="#/user/juridico">Lista Pessoa Jurídica</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper" style="overflow: scroll">
    <!-- /.row -->
    <div class="row" ng-view></div>
    <!-- /.row -->

    </div>
    </div>

{% endblock %}